@model Student

<div class="container">
	<h3>Add New Student</h3>

    <form method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" type="text" class="form-control" >
        </div><div class="mb-3">
            <label asp-for="Surname" class="form-label"></label>
            <input type="text" class="form-control" asp-for="Surname">
        </div><div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input type="text" class="form-control" asp-for="Email">
        </div>
        <div class="mb-3">
            <label asp-for="Phone" class="form-label"></label>
            <input asp-for="Phone" type="text" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
